body{
	background-color:#f7d1a8;
	height: 100vh;
}
.text{
	background-color:#f0fcff;
	padding:30px;
	width:435px;
	border:5px dotted brown;
	border-radius:30px;
	font-family:"Georgia",serif;
	color:#c98842