body{
	background-color:#f7d1a8;
	height: 100vh;
}
.text{
	background-color:#f0fcff;
	padding:30px;
	width:435px;
	border:5px dotted brown;
	border-radius:30px;
	font-family:Cursive;
	color:#c98842;
}
.list{
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
}
